<p>© <span id="copyright-year">2021</span> {{ config.site.title|e }}. All rights reserved.</p>
<p><small>Made with <i class="fa fa-heart"></i> using <a href="http://getgrav.org">Grav</a> + <a href="https://github.com/j3kennard/grav-theme-stratum">Stratum</a>.</small></p>
